<p-card header="Products">
    
    <div style="display: flex; flex-direction: column;">
        <div id="autoscale-id">
        <div class="parallax" style="background-image: url('assets/parallax/autoscale.jpeg');"></div>

        <div class="section section-light">
            <app-autoscale  style="width: 100%;"></app-autoscale>
        </div>
        </div>
      
        <div id="pos-id">
          <div class="parallax" style="background-image: url('assets/parallax/pos1.jpeg');"></div>
      
          <div class="section section-light">
            <app-pos  style="margin-top: 10px;" style="width: 100%;"></app-pos>
        </div>
        </div>
      
    <!-- <app-autoscale id="autoscale-id" ></app-autoscale>
    <app-pos id="pos-id" style="margin-top: 10px;"></app-pos> -->
    </div>
</p-card>


<!-- <app-autoscale id="autoscale-id" ></app-autoscale>
<app-pos id="pos-id"></app-pos> -->