<!-- <p-card header="POS" *ngIf="isVisible" [@flyInLeft]> -->
<p-card header="Scale POS - Restaurant POS Software">
    <div>
        The restaurant industry is fast-paced and dynamic. Our restaurant POS systems are crafted to handle everything
        from order processing and table management to inventory control and customer loyalty programs. Whether you run a
        cozy café or a bustling chain of restaurants, our solutions ensure seamless operations and delightful dining
        experiences.
    </div>
    <div>
        For more information vist to <a href="https://www.autoscale.ie" target="_blank">scalepos.ie</a>
        Or click Button Below

        <div style="margin: 20px; display: flex; justify-content: center;align-items: center;">
            <a href="https://www.autoscale.ie" target="_blank">
                <p-button>
                    Go To ScalePOS IE
                </p-button>
            </a>
        </div>
    </div>

</p-card>