<p-card header="Autoscale - Automobile Service Management Software">

  <div>
    In the automobile industry, efficiency and accuracy are paramount. Our specialized systems are designed to meet the
    unique demands of auto dealerships, repair shops, and parts suppliers. From inventory management and service
    scheduling to customer relationship management, our solutions help you stay ahead in a competitive market.
  </div>
  <div>
    For more information vist to <a href="https://www.autoscale.ie" target="_blank">autoscale.ie</a>
    Or click Button Below

    <div style="margin: 20px; display: flex; justify-content: center;align-items: center;">
      <a href="https://www.autoscale.ie" target="_blank">
        <p-button>
          Go To Autoscale IE
        </p-button>
      </a>
    </div>
  </div>

  <div>
    <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true">
      <ng-template pTemplate="item" let-product>
        <div class="product-item">
          <div class="product-item-content">
            <div class="p-mb-3">
              <img src="assets/autoscale-features/{{product.image}}" [alt]="product.name" class="product-image" />
            </div>
            <div>
              <h4>{{ product.name }}</h4>
              <p>{{ product.description }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</p-card>