<div class="full-screen-container">
  <div style="display: flex;flex-direction: column;    height: 100%;">
    <div style="display: flex;     display: flex;
    height: 63px;
    justify-content: space-around;
    align-items: center;">
      <div>current time</div>
      <div>status</div>
    </div>
    <div style="display: flex; flex-direction: row;     height: 100%; ">
      <div style="display: flex; flex-direction: column;     width: 50%;">
        <div>Notifications</div>
        <div style="height: 25%;
    border: 1px solid; margin: 10px;"></div>
        <div style="height: 25%;
    border: 1px solid; margin: 10px;"></div>
        <div style="height: 25%;
    border: 1px solid; margin: 10px;"></div>
        <span>see more</span>
      </div>
      <div status style="display: flex; flex-direction: column;     width: 50%;">
        <div>PLC status</div>
        <div style="display: flex; flex-direction: column; height: 25%;
    border: 1px solid; margin: 10px;">
          <div>PLC 1</div>
          <div style="display: flex; flex-direction: row;     height: 100%; justify-content: space-around;">
          <img src="/assets/check-mark-svgrepo-com.svg" style="    height: 100%; width: 15%;     filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(52deg) brightness(119%) contrast(119%);"/>
          <img src="/assets/exclamation-triangle-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
          <img src="/assets/cancel-svgrepo-com.svg" style="    height: 100%;width: 15%; filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
          <img src="/assets/electric-electricity-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
          <img src="/assets/mechanical-arm-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; height: 25%;
    border: 1px solid; margin: 10px;">
          <div>PLC 2</div>
          <div style="display: flex; flex-direction: row; height: 100%; justify-content: space-around;">
            <img src="/assets/check-mark-svgrepo-com.svg" style="    height: 100%; width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
            <img src="/assets/exclamation-triangle-svgrepo-com.svg" style="    height: 100%;width: 15%; filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
            <img src="/assets/cancel-svgrepo-com.svg" style="    height: 100%;width: 15%; filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(18deg) brightness(119%) contrast(119%);"/>
            <img src="/assets/electric-electricity-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
            <img src="/assets/mechanical-arm-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; height: 25%;
    border: 1px solid; margin: 10px;">
          <div>PLC 3</div>
          <div style="display: flex; flex-direction: row; height: 100%; justify-content: space-around;">
            <img src="/assets/check-mark-svgrepo-com.svg" style="    height: 100%; width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
            <img src="/assets/exclamation-triangle-svgrepo-com.svg" style="    height: 100%;width: 15%; filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
            <img src="/assets/cancel-svgrepo-com.svg" style="    height: 100%;width: 15%; filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
            <img src="/assets/electric-electricity-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(332deg) brightness(119%) contrast(119%);"/>
            <img src="/assets/mechanical-arm-svgrepo-com.svg" style="    height: 100%;width: 15%;     filter: invert(11%) sepia(83%) saturate(1233%) hue-rotate(170deg) brightness(12%) contrast(0%);opacity: 0.4;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>