<div class="full-screen-container">
  <div class="header" style="display:flex; align-items: center;background-color: #f9fafb;">
    <div style="">
      <img style="height: 35px;" src="assets/logo1.png" />
    </div>

    <div style="margin-left: auto;">
      <div class="top-menu-bar">
        <p-menubar [model]="items" />
      </div>
    </div>

  </div>
  <div class="content">
    <!-- <app-about-us id="about-us-id"></app-about-us>
        <p-divider type="solid" />
        <app-products id="products-id" ></app-products>
        <p-divider type="solid" />
        <app-contact id="contact-id" ></app-contact> -->
    <div id="about-us-id">
      <div>
        <p-card header="Welcome to Scale Tech" subheader="Innovating Services, Enhancing Experiences"
          [style]="{fontFamily: 'Raleway, sans-serif' }">
          <!-- <h1 class="welcome">
          Welcome to Scale Tech
        </h1> -->
          <!-- <div class="innovation">
          Innovating Service, Enhancing Experiences
        </div> -->
        </p-card>
      </div>
      <!-- <div class="parallax" style="background-image: url('assets/about-us/3.webp');"> -->
      <div>
        <p-carousel [value]="products" [numVisible]="4" [numScroll]="1" [showNavigators]="false"
          [showIndicators]="false">
          <ng-template pTemplate="item" let-product>
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3">
                  <img src="assets/about-us/{{product.image}}" [alt]="product.name" class="product-image" />
                </div>
                <!-- <div>
                  <h4>{{ product.name }}</h4>
                  <p>{{ product.description }}</p>
                </div> -->
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <!-- </div> -->

      <div class="section section-light">
        <app-about-us style="width: 100%;"></app-about-us>
      </div>
    </div>


    <div class="section section-light">
      <app-products id="products-id" style="width: 100%;"></app-products>
    </div>

    <div id="contact-id">
      <div class="parallax" style="background-image: url('assets/parallax/contactus.jpeg');"></div>

      <div class="section section-light">
        <app-contact style="width: 100%;"></app-contact>
      </div>
    </div>

    <div
      style="display: flex;padding: 20px 0;flex-direction: column;align-items: center;background-color: #80808017;font-size: 9px;">
      <div> © Copyright Scale Tech. All Rights Reserved </div>
      <div> Designed by Scale Tech </div>
    </div>

  </div>

</div>